name: Git CTF Level 5 validator

on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: chmod +x validate.sh
      - run: ./validate.sh
